body{
    background: #fff;
    font-family: Arial, sans-serif;
    height: 100%;
}

/*Header Navbar*/
#left-navbar-container{
    float: left;
}
#right-navbar-container{
    float: right;
}
#google-logo{
    font-family: 'Sulphur Point', sans-serif;
    font-size: 600%;
    font-weight: 900;
    text-align: center;
    padding-top: 15%;
    letter-spacing: -.230em;
} 
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(242,242,242,1)
  }
  
  .left ul, .right ul{
    list-style-type: none;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px 15px;
    padding: 0px;
  }
  footer li{
    padding: 15px;
  }
#button-container{
    padding-top: 3%;
}
#search-bar input{
    border-radius: 25px;
    border: 1.5px solid rgba(222,225,229,1);
  width: 475px;
  height: 48px;
  max-width: 600px;
  padding: 0px 40px;
  font-size: 16px;
}
